@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo a CRT4</h1>
    <p>Para acessar esta área você precisa usar seu login e senha, caso não tenho procure o administrador do site</p>
</div>
